.container {
    max-width: 100%;
    margin-bottom: 50px;
}
@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}
header {
    background: url('afbeelding/20240915_093156.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
footer {
    height: 200px;
    background-color: #00BFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 0 auto; /* Center the accordion */
    width: 80%; /* Adjust the width as needed */
}
.text-block {
    margin-bottom: 20px; /* Add margin to the bottom of the text block */
    text-align: center; /* Center the text */
}
}
.card-header .btn {
    background-color: #0000CD; /* Button background color */
    color: #FFFFFF; /* Button text color */
}
.card-header .btn:hover {
    background-color: #0000CD; /* Maintain background color on hover */
    color: #FFFFFF; /* Maintain text color on hover */
}
